
body {
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1 {
    font-size: 5.625rem;
    margin: 0;
    font-family: 'Sacramento', cursive;
    color: #4ab19a;
    font-weight: 100;
}

h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #4ab19a;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
    color: #4ab19a;
}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 10%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 65%;
}

.profilepicture{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.math-book {
    width: 25%;
    float: right;
}

.piano {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.nav-bar {
    margin-bottom: 100px;
    padding: 20px;
    position: relative;
}

.more-information {
    font-weight: 300;
    font-size: 21px;
    display: inline-block;
    font-family: sans-serif;
    position: absolute;
    right: 500px;
    top: 50px;
}


.links {
    display: inline-block;
    text-decoration: none;
    color: #4ab19a;
}

.mask {
    position: absolute;
    left: 475px;
}

.footer-link {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin:100px auto;
    text-align: left;
    line-height: 200%;
}

.btn {
    background: #4ab19a;
    background-image: -webkit-linear-gradient(top, #4ab19a, #4ab19a);
    background-image: -moz-linear-gradient(top, #4ab19a, #4ab19a);
    background-image: -ms-linear-gradient(top, #4ab19a, #4ab19a);
    background-image: -o-linear-gradient(top, #4ab19a, #4ab19a);
    background-image: linear-gradient(to bottom, #4ab19a, #4ab19a);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #1b7f69;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 300;
  }
  
  .btn:hover {
    background: #3f9f8a;
    background-image: -webkit-linear-gradient(top, #3f9f8a, #3f9f8a);
    background-image: -moz-linear-gradient(top, #3f9f8a, #3f9f8a);
    background-image: -ms-linear-gradient(top, #3f9f8a, #3f9f8a);
    background-image: -o-linear-gradient(top, #3f9f8a, #3f9f8a);
    background-image: linear-gradient(to bottom, #3f9f8a, #3f9f8a);
    text-decoration: none;
  }

  .intro {
    width: 30%;
    margin: auto;
  }

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}